@charset "UTF-8";
@media (max-width: 768px) {
  .mainTop-contents {
    width: 100%;
    transition: width 15s ease; } }
a.u-line::after {
  content: '';
  position: absolute;
  width: 0;
  height: 6px;
  bottom: 0px;
  left: 0;
  background-color: #c8ea55;
  transition: width 0.4s cubic-bezier(0.55, 0.05, 0.31, 0.96);
  border-radius: 1rem;
  z-index: -1; }

a.u-line:hover::after {
  width: 103%; }

.header {
  width: 100%; }

.headermenuBox {
  height: calc(41px + 6vw);
  display: flex;
  align-items: flex-end; }

@media only screen and (max-width: 768px) {
  .headermenuBox {
    height: calc(25px + 7vw); } }
.headerBox.pcOnly {
  display: flex;
  align-items: flex-end;
  width: 100%; }

@media only screen and (max-width: 768px) {
  .headerBox.pcOnly {
    display: none; } }
@media only screen and (max-width: 768px) {
  .headerBox.spOnly {
    height: calc(25px + 7vw);
    display: flex;
    align-items: flex-end; } }
.headerBox {
  height: calc(41px + 6%);
  padding-left: 5%; }

@media only screen and (max-width: 768px) {
  .headerBox {
    display: block;
    height: calc(25px + 7vw); } }
@media only screen and (max-width: 768px) {
  .headerLogo {
    width: 35%; } }
.headerNav {
  display: flex;
  gap: 6%;
  width: 100%; }

a.linkHome {
  position: absolute;
  top: 30px;
  left: 15px; }

p.navLinksTxt {
  font-size: 1.1rem; }

p.navLinksTxt:hover {
  transition: all ease .25s;
  opacity: .7; }

/*top*/
.mainTopBlackBlock {
  position: relative; }

.mainTopBlackTxt {
  position: absolute;
  content: '';
  background-color: #000000d9;
  width: 10px;
  height: 20vw;
  z-index: 1;
  top: 20vh;
  min-height: 180px; }

@media only screen and (max-width: 768px) {
  .mainTopBlackTxt {
    width: 5px; } }
.mainTopScroll {
  position: absolute;
  writing-mode: vertical-rl;
  bottom: 5%;
  left: 5%; }

@media only screen and (max-width: 768px) {
  .mainTopScroll {
    bottom: 0%; } }
.mainTopArea {
  position: relative;
  background-image: url(/images/stone_bg.webp);
  min-height: 100vh; }

@media only screen and (max-width: 768px) {
  .mainTopArea {
    height: 100vh;
    /* Fallback */ } }
.mainVisualArea {
  min-height: calc(100vh - (41px + 6%));
  margin-right: calc(33px + 5.6%);
  margin-left: calc(33px + 5.6%); }

@media only screen and (max-width: 992px) {
  .mainVisualArea {
    margin-left: 5%; } }
@media only screen and (max-width: 768px) {
  .mainVisualArea {
    height: 100vh;
    margin: 0 5%; } }
.mainVisualArea::after {
  content: '';
  position: absolute;
  width: calc(33px + 5.6%);
  height: 100%;
  right: 0;
  bottom: 0;
  border-left: solid 2px #333;
  transform: scaleY(0);
  transform-origin: bottom;
  animation: growLine 1.5s ease 3.5s forwards; }

@keyframes growLine {
  from {
    transform: scaleY(0); }
  to {
    transform: scaleY(1); } }
@media only screen and (max-width: 768px) {
  .mainVisualArea::after {
    width: 0; } }
.mainTitleBox {
  display: flex;
  min-height: 50vh;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  overflow: hidden;
  padding-top: 2.5rem; }

@media only screen and (max-width: 768px) {
  .mainTitleBox {
    height: 43vh;
    min-height: 53vh; } }
@media only screen and (max-width: 768px) {
  .mainVisualBox {
    width: 100%;
    display: flex;
    flex-direction: column; } }
@media only screen and (max-width: 768px) {
  .main-randamimg {
    display: flex;
    justify-content: flex-end; } }
.main-randamimg img {
  width: 100%;
  height: 70vh; }

@media only screen and (max-width: 768px) {
  .main-randamimg img {
    width: 85%;
    height: auto; } }
h1 {
  font-size: 6vw;
  font-family: PTSans-Bold, "PT Sans";
  letter-spacing: 2.4vh;
  position: relative;
  overflow: hidden;
  padding: 3vh 0;
  display: inline-block;
  transform: translateX(0);
  backface-visibility: hidden;
  /* パフォーマンス改善 */
  -webkit-backface-visibility: hidden;
  /* Safari用 */
  perspective: 1000px;
  transition: transform 0.8s cubic-bezier(0.39, 0.58, 0.57, 1); }

@media only screen and (max-width: 768px) {
  h1 {
    font-size: clamp(2.3rem, 1.155rem + 4.89vw, 3.5rem);
    letter-spacing: clamp(0.45rem, -0.17rem + 2.65vw, 1.1rem); } }
h1::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  left: -5%;
  transform: translateX(-100%);
  z-index: 1;
  transition: transform 0.8s cubic-bezier(0.39, 0.58, 0.57, 1);
  will-change: transform; }

h1.active::before {
  transform: translateX(110%); }

.portfolio {
  display: flex;
  overflow: hidden; }

.portfolio span {
  display: inline-block;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.3s ease; }

.portfolio span.-visible {
  transform: translateY(0);
  opacity: 1; }

.column-below-h1 {
  display: flex;
  width: 65vw;
  position: relative;
  min-height: 5rem;
  margin-bottom: 1vh;
  opacity: 0;
  transform: translateY(100%);
  /* 下から移動 */
  transition: transform 0.8s cubic-bezier(0.01, 0.62, 0.45, 1.03); }

.column-below-h1.-slide-up-visible {
  opacity: 1;
  /* 表示状態 */
  transform: translateY(0); }

@media screen and (max-width: 768px) {
  .column-below-h1 {
    width: 100%;
    min-height: clamp(4.5rem, 4.023rem + 2.04vw, 5rem); } }
.english-text, .japanese-text {
  position: absolute;
  top: 0;
  left: 0;
  white-space: normal;
  width: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 0.6s cubic-bezier(0.07, 0.76, 0.3, 1); }

.english-text {
  font-size: clamp(1.1rem, 0.787rem + 0.65vw, 1.5rem);
  line-height: 1.5;
  transform: rotateX(0deg); }

@media screen and (max-width: 768px) {
  .english-text {
    font-size: clamp(0.875rem, 0.416rem + 1.42vw, 1.1rem); } }
.japanese-text {
  font-size: clamp(0.95rem, 0.754rem + 0.41vw, 1.2rem);
  line-height: 2;
  opacity: 0;
  transform: rotateX(180deg); }

@media screen and (max-width: 768px) {
  .japanese-text {
    font-size: clamp(0.7rem, 0.657rem + 0.61vw, 0.95rem);
    line-height: 1.7;
    letter-spacing: .025rem; } }
.column-below-h1:hover .english-text {
  opacity: 0;
  transform: rotateX(180deg); }

.column-below-h1:hover .japanese-text {
  opacity: 1;
  transform: rotateX(0deg); }

.column-below-h1sub {
  font-size: clamp(0.9rem, 0.665rem + 0.49vw, 1.2rem);
  opacity: 0;
  transform: translateY(100%);
  /* 下から移動 */
  transition: transform 0.8s cubic-bezier(0.01, 0.62, 0.45, 1.03); }

@media screen and (max-width: 768px) {
  .column-below-h1sub {
    font-size: clamp(0.75rem, 0.607rem + 0.61vw, 0.9rem); } }
.column-below-h1sub.-slide-up-visible {
  opacity: 1;
  transform: translateY(0); }

.headername {
  font-size: clamp(1.4rem, 0.931rem + 0.98vw, 2rem);
  font-weight: 600;
  font-family: PTSans, "PT Sans";
  margin-bottom: 2vh;
  letter-spacing: 1vh;
  opacity: 0;
  transform: translateY(100%);
  /* 初期状態で下に隠れる*/
  transition: transform 1s cubic-bezier(0.01, 0.62, 0.45, 1.03); }

.headername.-slide-up-visible {
  opacity: 1;
  /* 表示状態 */
  transform: translateY(0); }

@media only screen and (max-width: 768px) {
  .headername {
    font-size: clamp(1rem, 0.523rem + 2.04vw, 1.5rem); } }
.headernameSub {
  font-size: 1.8vw;
  font-family: PTSans-Bold, "PT Sans";
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  width: 67%;
  position: relative; }

@media only screen and (max-width: 768px) {
  .headernameSub {
    font-size: 3vw;
    margin-top: 5px;
    width: 100%; } }
.headernameSub::after {
  position: absolute;
  content: '';
  height: 2px;
  background-color: #333;
  top: 50%;
  left: -12.7vw;
  animation: stretchLine 2.5s ease 1.5s forwards; }

@keyframes stretchLine {
  0% {
    width: 0; }
  100% {
    width: 39.5vw; } }
@media only screen and (max-width: 768px) {
  .headernameSub::after {
    animation: stretchLine 1s ease-in-out; } }
.mainSubTitleBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 37vh;
  padding: 5vw 5vw 1vw 5vw; }

@media only screen and (max-width: 768px) {
  .mainSubTitleBox {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 0 0 0; } }
.mainSubTitleLinkBox {
  display: flex;
  justify-content: center;
  overflow: hidden; }

.mainSubTitleLink {
  color: #e2e2e2;
  font-family: PTSans, "PT Sans";
  letter-spacing: .25vw;
  font-size: clamp(.85rem, 1rem, 1.1rem);
  padding: 1.7vw 7vw;
  background-color: #000000d9;
  opacity: 0;
  transform: translateY(100%);
  /* 下から移動 */
  transition: transform 0.8s cubic-bezier(0.01, 0.62, 0.45, 1.03); }

@media only screen and (max-width: 768px) {
  .mainSubTitleLink {
    font-size: clamp(0.75rem, 0.655rem + 0.41vw, 0.85rem);
    padding: 0.75rem 12vw;
    letter-spacing: .15rem; } }
.mainSubTitleLink.-slide-up-visible {
  opacity: 1;
  transform: translateY(0); }

.mainSubTitleLink:hover {
  color: #333;
  background-color: transparent;
  border: solid 1px #333;
  transition: all 0.5s cubic-bezier(0.64, 0.01, 0.43, 0.96); }

.custom-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  right: calc(33px + 5.6%);
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 100;
  clip-path: inset(0 50% 0 50%);
  opacity: 0;
  transition: clip-path 0.5s ease;
  backdrop-filter: blur(7px); }

@media only screen and (max-width: 768px) {
  .custom-overlay {
    right: 0; } }
.custom-overlay.opened {
  clip-path: inset(0 0 0 0);
  opacity: 1; }

.custom-overlay.closing {
  clip-path: inset(0 50% 0 50%);
  /* 中央へclose */
  opacity: 0;
  pointer-events: none;
  transition: clip-path 0.5s ease, opacity 0.5s ease; }

.overlay-box {
  display: flex;
  flex-direction: column;
  padding: 0rem 15vw; }

@media only screen and (max-width: 768px) {
  .overlay-box {
    padding: 0rem 5vw; } }
.customOverlayTitleBox {
  display: flex;
  padding-bottom: 4vw;
  justify-content: space-between; }

@media only screen and (max-width: 768px) {
  .customOverlayTitleBox {
    padding-bottom: 6vw;
    align-items: flex-end; } }
.customOverlayTitle {
  font-size: 2rem;
  color: #e2e2e2; }

@media only screen and (max-width: 768px) {
  .customOverlayTitle {
    font-size: 1.5rem; } }
.close-overlay-btn {
  background: transparent;
  border: none;
  color: #e2e2e2;
  font-size: .95rem;
  letter-spacing: .05rem;
  cursor: pointer;
  z-index: 101;
  /* overlayより前 */
  transition: all ease .25s; }

@media only screen and (max-width: 768px) {
  .close-overlay-btn {
    font-size: .7rem; } }
.close-overlay-btn:hover {
  opacity: 0.8; }

ul.overlay-boxcolumn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4vw 2rem;
  width: 100%; }

@media only screen and (max-width: 768px) {
  ul.overlay-boxcolumn {
    gap: 1.5rem 1rem; } }
ul.overlay-boxcolumn li {
  width: calc((100% - 4rem) / 3); }

@media only screen and (max-width: 768px) {
  ul.overlay-boxcolumn li {
    width: calc((100% - 2rem) / 3); } }
.overlay-img-container {
  overflow: hidden;
  margin-bottom: 1.2vw; }

@media only screen and (max-width: 768px) {
  .overlay-img-container {
    margin-bottom: 2vw; } }
.overlay-img-container img {
  transition: transform 0.3s ease, filter 0.3s ease; }

.overlay-img-container:hover img {
  transform: scale(1.03);
  filter: brightness(0.7); }

ul.overlay-boxcolumn p {
  font-size: .7rem;
  color: #e2e2e2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.3; }

@media only screen and (max-width: 768px) {
  ul.overlay-boxcolumn p {
    font-size: .65rem;
    line-height: 1.1;
    letter-spacing: .05rem; } }
ul.overlay-boxcolumn p span {
  font-size: .65rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  margin-bottom: -.5rem; }

ul.overlay-boxcolumn p span.overlay-title {
  font-size: .7rem; }

.mainSubTitleSPBox {
  display: flex;
  justify-content: flex-end; }

@media only screen and (max-width: 768px) {
  .mainSubTitleSPBox {
    font-size: .7rem; } }
.mainSubTitleName {
  display: flex;
  justify-content: flex-end; }

@media only screen and (max-width: 768px) {
  .mainSubTitleName {
    align-items: center; } }
.mainSubTitleName ul {
  display: flex;
  gap: 2.5vh;
  flex-direction: column;
  margin-right: -5.6%; }

@media only screen and (max-width: 768px) {
  .mainSubTitleName ul {
    width: 100%;
    padding-right: 1rem; } }
.mainSubTitleName ul li {
  padding: 1vh 1vh; }

li.mainJobTitile01 {
  background-color: #333333;
  color: #e2e2e2; }

li.mainJobTitile02 {
  background-color: #e2e2e2; }

li.mainJobTitile03 {
  background-color: #e9e9e9; }

li.mainJobTitile04 {
  background-color: #c8ea55; }

li.mainJobTitile05 {
  text-align: right;
  border: solid 1px #000; }

.mainSubTitleNumberBox {
  width: calc(33px + 3% + 2.8%); }

span.mainSubTitleNumber {
  align-content: space-around;
  position: absolute;
  top: 4.4vh;
  padding: 0 2vw 1vh 2vw; }

/*about*/
.aboutme-contentsBox {
  position: relative;
  padding-top: 12rem;
  padding-bottom: 10rem; }

@media only screen and (max-width: 768px) {
  .aboutme-contentsBox {
    padding-top: 6rem;
    padding-bottom: 6rem; } }
@media only screen and (max-width: 992px) {
  .aboutme-contentsArea {
    padding-left: 0; } }
@media only screen and (max-width: 768px) {
  .aboutme-contentsArea {
    padding-left: 0;
    padding-right: calc(25px + 5%); } }
@media only screen and (max-width: 576px) {
  .aboutme-contentsArea {
    padding-right: 0; } }
.aboutme-TitleBox {
  width: 35%; }

@media only screen and (max-width: 768px) {
  .aboutme-TitleBox {
    width: 100%; } }
.aboutme-TitleColumn {
  padding-bottom: 4vh;
  padding-left: calc(33px + 5.6%);
  padding-right: calc(33px + 5.6%); }

@media only screen and (max-width: 992px) {
  .aboutme-TitleColumn {
    padding-left: 5%; } }
span.aboutmeSubTitle {
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: clamp(12rem, 5.743rem + 13.03vw, 20rem);
  font-size: clamp(0.85rem, 0.772rem + 0.16vw, 0.95rem); }

@media only screen and (max-width: 768px) {
  span.aboutmeSubTitle {
    width: clamp(14rem, 8.752rem + 22.39vw, 19.5rem);
    font-size: clamp(0.75rem, 0.655rem + 0.41vw, 0.85rem); } }
span.aboutmeSubTitle::before {
  content: '';
  position: absolute;
  width: clamp(17.5rem, 1.467rem + 33.4vw, 38rem);
  height: 2px;
  background-color: #333;
  top: .5vh;
  left: 0;
  margin-left: -21.5vw; }

@media only screen and (max-width: 768px) {
  span.aboutmeSubTitle::before {
    width: clamp(14.5rem, 4.481rem + 42.75vw, 25rem); } }
.aboutme-ImageColumn {
  padding-left: calc(33px + 5.6%);
  padding-right: calc(33px + 5.6%); }

@media only screen and (max-width: 992px) {
  .aboutme-ImageColumn {
    padding-left: 5%; } }
@media only screen and (max-width: 768px) {
  .aboutme-ImageColumn {
    grid-template-columns: 50% 50%;
    background: linear-gradient(360deg, #ffffff 5%, #ffffff 5%, #f2f2f2 5%, #f2f2f2 70%, #ffffff 70%, #ffffff 100%);
    padding-left: 5%;
    padding-right: 0;
    padding-bottom: clamp(3rem, 1.092rem + 8.14vw, 5rem); } }
.aboutme-columnWidth {
  display: grid;
  flex-direction: row;
  max-width: 1280px;
  margin: 0 auto;
  grid-template-columns: 30% 70%; }

@media only screen and (max-width: 768px) {
  .aboutme-columnWidth {
    grid-template-columns: 40% 60%; } }
.aboutme-ImageBox {
  display: grid;
  grid-area: 1 / 1 / 3 / 2;
  max-width: 430px;
  background: linear-gradient(360deg, #ffffff 5%, #ffffff 5%, #e2e2e2 5%, #e2e2e2 84%, #ffffff 84%, #ffffff 100%); }

@media only screen and (max-width: 768px) {
  .aboutme-ImageBox {
    grid-area: 1 / 1 / 2 / 2;
    background: none; } }
.aboutme-ImageBoxBG {
  display: flex;
  justify-content: flex-end; }

.aboutmeTitle {
  font-size: clamp(2.5rem, 0.936rem + 3.26vw, 4.5rem);
  font-family: PTSans-Bold, "PT Sans";
  opacity: 0;
  transform: translateY(100%);
  /* 初期位置をY軸で100px下*/
  letter-spacing: -.4vw;
  transition: transform 0.56s cubic-bezier(0.73, 0, 0.17, 1); }

@media only screen and (max-width: 768px) {
  .aboutmeTitle {
    font-size:  clamp(2.2rem, 1.437rem + 3.26vw, 3rem);
    letter-spacing: -.25rem; } }
.animate-h2 {
  opacity: 1;
  transform: translateY(0); }

.aboutmeTitle span {
  display: inline-block;
  opacity: 0;
  transform: translateY(100%);
  /* 初期位置をY軸で下*/
  transition: opacity 0.56s ease-out, transform 0.56s ease-out; }

.aboutmeTitle.animate-h2 span {
  opacity: 1;
  transform: translateY(0);
  /* 元の位置に移動 */ }

.aboutmeTitle.animate-h2 span:nth-child(1) {
  transition-delay: 0s; }

.aboutmeTitle.animate-h2 span:nth-child(2) {
  transition-delay: 0.08s; }

.aboutmeTitle.animate-h2 span:nth-child(3) {
  transition-delay: 0.16s; }

.aboutmeTitle.animate-h2 span:nth-child(4) {
  transition-delay: 0.24s; }

.aboutmeTitle.animate-h2 span:nth-child(5) {
  transition-delay: 0.36s; }

.aboutmeTitle.animate-h2 span:nth-child(6) {
  transition-delay: 0.4s; }

.aboutmeTitle.animate-h2 span:nth-child(7) {
  transition-delay: 0.48s; }

.aboutmeTitle.animate-h2 span:nth-child(8) {
  transition-delay: 0.56s; }

.aboutmeTxt {
  padding: clamp(0.75rem, 0.339rem + 0.86vw, 1.275rem) 3.5vw 0 3.5vw; }

@media only screen and (max-width: 768px) {
  .aboutmeTxt {
    padding: 3vw 2vw; } }
@media only screen and (max-width: 768px) {
  .aboutmeTxtBox {
    grid-area: 2 / 1 / 3 / 3; } }
.aboutmeTxtSub {
  grid-area: 2 / 2 / 3 / 3; }

.aboutName {
  font-size: clamp(1.125rem, 0.926rem + 0.41vw, 1.25rem);
  margin: 1.2vw 0;
  letter-spacing: .15rem;
  padding-left: 3.5vw;
  grid-area: 1 / 2 / 2 / 2;
  display: flex;
  align-items: flex-end; }

@media only screen and (max-width: 768px) {
  .aboutName {
    margin: 3vw 0;
    font-size: clamp(1.1rem, 0.957rem + 0.61vw, 1.25rem);
    padding-left: 5vw;
    align-items: flex-end;
    flex-direction: row; } }
.aboutName span {
  font-size: clamp(0.75rem, 0.652rem + 0.2vw, 0.875rem);
  margin-left: 1rem; }

@media only screen and (max-width: 768px) {
  .aboutName span {
    margin-left: .75rem; } }
.aboutmeTxtSub span {
  font-size: clamp(0.875rem, 0.777rem + 0.2vw, 1rem);
  padding-left: .8rem;
  letter-spacing: .05rem; }

.aboutNameBkBox {
  background-color: #000000d9; }

p.aboutNameWeb {
  color: #e2e2e2;
  padding: .5vw 0;
  margin: 0 3.5vw;
  font-size: clamp(0.813rem, 0.613rem + 0.41vw, 0.938rem); }

@media only screen and (max-width: 768px) {
  p.aboutNameWeb {
    font-size: clamp(0.75rem, 0.559rem + 0.81vw, 0.95rem);
    margin-left: 0;
    padding: 1vw 2vw; } }
.aboutmeTxt p.aboutPlofile {
  line-height: 2;
  font-size: clamp(0.687rem, 0.455rem + 0.99vw, 0.93rem); }

@media only screen and (max-width: 768px) {
  .aboutmeTxt p.aboutPlofile {
    font-size: clamp(0.7rem, 0.657rem + 0.61vw, 0.95rem); } }
.aboutme-leadMoreArea {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  position: relative;
  right: calc(31px + 5.6%); }

@media only screen and (max-width: 768px) {
  .aboutme-leadMoreArea {
    margin-top: 1.5rem;
    right: calc(25px + 5%); } }
@media only screen and (max-width: 576px) {
  .aboutme-leadMoreArea {
    right: 0; } }
.aboutme-leadMoreArea::after {
  content: '';
  position: absolute;
  width: var(--after-width, 10vw);
  height: 2px;
  background-color: black;
  top: 55%;
  right: 0;
  transform: translateY(50%);
  transform-origin: right;
  transition: width 0.3s ease; }

@media only screen and (max-width: 768px) {
  .aboutme-leadMoreArea::after {
    width: var(--after-width, 15vw); } }
.aboutme-leadMoreArea:hover::after {
  width: 11.5vw; }

@media only screen and (max-width: 768px) {
  .aboutme-leadMoreArea:hover::after {
    width: 16.5vw; } }
.aboutme-contentsBox.hovered::before {
  width: 11.5vw; }

.aboutme-contentsBox::after {
  content: '';
  position: absolute;
  width: calc(33px + 5.6%);
  height: 100%;
  background-color: #000000d9;
  top: 0;
  right: 0; }

@media only screen and (max-width: 768px) {
  .aboutme-contentsBox::after {
    width: calc(25px + 5%); } }
@media only screen and (max-width: 576px) {
  .aboutme-contentsBox::after {
    width: 0; } }
.fadeInUp2.active {
  color: inherit;
  font-size: 1.1rem;
  letter-spacing: .05em;
  cursor: pointer;
  transition: transform 0.3s ease;
  text-decoration: underline;
  text-decoration-color: #c8ea55;
  border-width: 6px;
  text-decoration-thickness: 5px;
  border-radius: 1rem;
  display: inline-block;
  padding: 0 .3rem;
  text-underline-offset: 1px;
  margin-right: 10.5vw;
  position: relative; }

.fadeInUp2.active:hover {
  transform: translateX(-2.5vw); }

@media only screen and (max-width: 768px) {
  .fadeInUp2.active {
    font-size: clamp(0.85rem, 0.611rem + 1.02vw, 1.1rem);
    margin-right: 15.5vw; } }
/*leanmoreここまで*/
/*works*/
.works-contentsBox {
  position: relative;
  padding-top: 10rem;
  padding-bottom: 12rem; }

@media only screen and (max-width: 768px) {
  .works-contentsBox {
    padding-top: 6rem;
    padding-bottom: 6rem; } }
.works-contentsBox:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - (33px + 5.6%));
  height: 1px;
  background-color: #e2e2e2; }

@media only screen and (max-width: 768px) {
  .works-contentsBox:before {
    width: 95%; } }
.works-contentsBox::after {
  content: '';
  position: absolute;
  height: 100%;
  top: 0;
  right: calc(31px + 5.6%);
  border-left: solid 2px #333; }

@media only screen and (max-width: 768px) {
  .works-contentsBox::after {
    right: calc(23px + 5%); } }
@media only screen and (max-width: 576px) {
  .works-contentsBox::after {
    right: 0;
    border-left: none; } }
.works-TitleColumn {
  padding-bottom: 4vh;
  padding-right: calc(33px + 5.6%);
  padding-left: calc(33px + 5.6%); }

@media only screen and (max-width: 992px) {
  .works-TitleColumn {
    padding-left: 5%; } }
@media only screen and (max-width: 768px) {
  .works-TitleColumn {
    padding-left: 5%; } }
span.worksSubTitle {
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: clamp(7.3rem, 2.842rem + 9.29vw, 13rem);
  font-size: clamp(0.85rem, 0.772rem + 0.16vw, 0.95rem); }

@media only screen and (max-width: 768px) {
  span.worksSubTitle {
    width: clamp(9rem, 6.137rem + 12.21vw, 12rem);
    font-size: clamp(0.75rem, 0.655rem + 0.41vw, 0.85rem); } }
span.worksSubTitle::before {
  content: '';
  position: absolute;
  width: 30vw;
  height: 2px;
  background-color: black;
  top: .5vh;
  left: 0;
  margin-left: -21.5vw; }

@media only screen and (max-width: 768px) {
  span.worksSubTitle::before {
    width: clamp(11.3rem, 3.476rem + 33.38vw, 19.5rem); } }
.worksTitle {
  font-size: clamp(2.5rem, 0.936rem + 3.26vw, 4.5rem);
  font-family: PTSans-Bold, "PT Sans";
  opacity: 0;
  transform: translateY(100%);
  /* 初期位置をY軸で100px下*/
  letter-spacing: -.4vw;
  transition: transform 0.36s cubic-bezier(0.73, 0, 0.17, 1); }

@media only screen and (max-width: 768px) {
  .worksTitle {
    font-size: clamp(2.2rem, 1.437rem + 3.26vw, 3rem);
    letter-spacing: -.25rem; } }
.animate-h2works {
  opacity: 1;
  transform: translateY(0); }

.worksTitle span {
  display: inline-block;
  opacity: 0;
  transform: translateY(100%);
  /* 初期位置をY軸で下 */
  transition: opacity 0.36s ease-out, transform 0.36s ease-out; }

.worksTitle.animate-h2works span {
  opacity: 1;
  transform: translateY(0);
  /* 元の位置に移動 */ }

.worksTitle.animate-h2works span:nth-child(1) {
  transition-delay: 0s; }

.worksTitle.animate-h2works span:nth-child(2) {
  transition-delay: 0.08s; }

.worksTitle.animate-h2works span:nth-child(3) {
  transition-delay: 0.16s; }

.worksTitle.animate-h2works span:nth-child(4) {
  transition-delay: 0.24s; }

.worksTitle.animate-h2works span:nth-child(5) {
  transition-delay: 0.36s; }

@media only screen and (max-width: 768px) {
  .worksListArea {
    width: 100%; } }
.worksListBox {
  display: flex;
  flex-direction: column; }

.worksFadeBox {
  display: flex;
  flex-direction: column;
  padding: 4vw 0;
  position: relative;
  overflow: hidden;
  min-height: 300px;
  justify-content: center;
  border-bottom: solid 1px #e2e2e2;
  opacity: 0;
  transform: translateY(80px);
  transition: all 0.5s ease-out; }

.worksFadeBox:hover {
  background-color: #e2e2e2; }

.worksFadeBox.hovered {
  background-color: #e2e2e2;
  opacity: 1; }

.worksFadeBox.fadeIn {
  opacity: 1;
  transform: translateY(0); }

@media only screen and (max-width: 768px) {
  .worksFadeBox {
    padding: clamp(3rem, 1.092rem + 8.14vw, 5rem) 0; } }
.worksFadeBox::before {
  content: '';
  position: absolute;
  width: calc(33px + 5.6%);
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: #000000d9;
  transition: 0.2s cubic-bezier(0.75, 0.02, 0.21, 1); }

@media only screen and (max-width: 992px) {
  .worksFadeBox::before {
    width: 5%; } }
@media only screen and (max-width: 576px) {
  .worksFadeBox::before {
    width: 0; } }
.worksFadeBox:hover::before {
  opacity: 1; }

@media only screen and (max-width: 768px) {
  .worksFadeBox.hover-effect::after {
    opacity: 1; } }
@media only screen and (max-width: 768px) {
  .worksFadeBox.hovered {
    opacity: 1; } }
.worksList-Column {
  display: flex;
  padding-left: calc(33px + 5.6%);
  padding-right: calc(33px + 5.6%); }

@media only screen and (max-width: 992px) {
  .worksList-Column {
    padding-left: 5%; } }
@media only screen and (max-width: 768px) {
  .worksList-Column {
    padding-left: 5%;
    padding-right: calc(23px + 5%); } }
@media only screen and (max-width: 576px) {
  .worksList-Column {
    padding-right: 5%; } }
.worksList-ColumnWidth {
  display: grid;
  max-width: 1280px;
  margin: 0 auto;
  grid-template-columns: 60% 40%; }

@media only screen and (max-width: 768px) {
  .worksList-ColumnWidth {
    grid-template-columns: 40% 60%; } }
.worksList-imageBox {
  /*background: linear-gradient(180deg, #e9e9e9 0%, #e9e9e9 85%, #ffffff 85%, #ffffff 100%);*/
  display: grid;
  grid-area: 1 / 2 / 3 / 3;
  grid-column: 2 / 3; }

@media only screen and (max-width: 768px) {
  .worksList-imageBox {
    width: 100%;
    display: flex;
    justify-content: center;
    grid-area: 1 / 2 / 2 / 3; } }
.worksList-imageBox img {
  width: 100%;
  top: 50%;
  transition: transform 0.3s ease-out; }

@media only screen and (max-width: 768px) {
  .worksList-imageBox img {
    width: 90%; } }
.worksDetailBox {
  padding: 0 3.5vw;
  display: grid;
  align-items: end;
  grid-area: 2 / 1 / 3 / 2; }

@media only screen and (max-width: 992px) {
  .worksDetailBox {
    padding: 0 .75vw 0 1.5vw; } }
@media only screen and (max-width: 768px) {
  .worksDetailBox {
    width: 100%;
    padding: 0 1.5vw;
    grid-area: 2 / 1 / 3 / 3; } }
.worksKindTopBox {
  display: grid;
  grid-column: 1 / 2;
  grid-area: 1 / 1 / 2 / 2;
  padding: 0 3.5vw;
  font-size: clamp(0.75rem, 0.554rem + 0.41vw, 1rem); }

@media only screen and (max-width: 992px) {
  .worksKindTopBox {
    padding: 0 1.5vw; } }
@media only screen and (max-width: 768px) {
  .worksKindTopBox {
    font-size: clamp(0.75rem, 0.559rem + 0.81vw, 0.95rem);
    padding: .5rem 2vw; } }
@media only screen and (max-width: 768px) {
  .worksKindTopBox {
    padding: .5rem 2vw; } }
.worksProjectClianBox {
  display: flex;
  background-color: #000000d9;
  color: #e2e2e2;
  padding: .5vw 3.5vw;
  font-size: clamp(0.813rem, 0.613rem + 0.41vw, 0.938rem);
  margin: 0 -3.5vw;
  flex-direction: row;
  justify-content: space-between; }

@media only screen and (max-width: 992px) {
  .worksProjectClianBox {
    padding: .5vw 2vw;
    margin: 0 -1.5vw; } }
@media only screen and (max-width: 768px) {
  .worksProjectClianBox {
    padding: 1vw 2vw;
    align-items: center;
    font-size: clamp(0.687rem, 0.455rem + 0.99vw, 0.93rem); } }
@media only screen and (max-width: 768px) {
  .worksCliantBox {
    font-size: clamp(0.687rem, 0.455rem + 0.99vw, 0.93rem); } }
.worksTitleBox {
  font-size: clamp(1rem, 0.801rem + 0.41vw, 1.125rem);
  margin: 1.2vw 0;
  line-height: 1.4; }

@media only screen and (max-width: 768px) {
  .worksTitleBox {
    font-size: clamp(0.781rem, 0.62rem + 0.69vw, 0.95rem);
    margin: 3vw 0; } }
span.worksdetail {
  font-size: clamp(0.938rem, 0.24rem + 1.45vw, 1.375rem);
  display: block;
  line-height: 1.5;
  margin-top: 0.25rem; }

@media only screen and (max-width: 768px) {
  span.worksdetail {
    font-size: clamp(0.687rem, 0.455rem + 0.99vw, 0.93rem);
    line-height: clamp(1.2rem, 1.057rem + 0.61vw, 1.35rem); } }
span.works-kana {
  font-size: clamp(0.688rem, 0.19rem + 1.04vw, 1rem); }

@media only screen and (max-width: 768px) {
  span.works-kana {
    font-size: .875rem; } }
.worksTitleBox.jkana {
  font-size: clamp(0.875rem, 0.676rem + 0.41vw, 1rem);
  line-height: 1.6;
  display: block; }

@media only screen and (max-width: 768px) {
  .worksTitleBox.jkana {
    font-size: clamp(0.687rem, 0.455rem + 0.99vw, 0.93rem); } }
.worksTitleBox span.jkana {
  font-size: clamp(0.688rem, 0.443rem + 0.51vw, 1rem);
  letter-spacing: 0; }

.worksLinkBox {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: .5vw; }

ul.worksLinkLine {
  display: flex;
  font-size: clamp(0.75rem, 0.652rem + 0.2vw, 0.875rem);
  color: #7b7b7b; }

@media only screen and (max-width: 768px) {
  ul.worksLinkLine {
    font-size: clamp(0.625rem, 0.375rem + 1.07vw, 0.887rem); } }
li.Listpipe {
  position: relative;
  margin-left: 10px;
  padding-left: 10px; }

li.Listpipe::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 90%;
  top: 0;
  left: 0;
  border-left: solid 1px #7b7b7b; }

ul.worksLinkLine li p span {
  padding-right: 10px; }

/* 背面に表示 "click here more detail" スタイル */
.click-more-detail {
  position: absolute;
  top: 24%;
  width: 200%;
  /* テキストの長さ */
  transform: translateY(-25%);
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s ease;
  margin-left: calc(33px + 5.6%); }

@media only screen and (max-width: 992px) {
  .click-more-detail {
    margin-left: 5%; } }
@media only screen and (max-width: 768px) {
  .click-more-detail {
    top: 30%; } }
@media only screen and (max-width: 576px) {
  .click-more-detail {
    margin-left: 0; } }
/* 連続するテキストのアニメーション */
.click-more-detail span {
  display: inline-block;
  width: 100%;
  animation: scroll-text 30s linear infinite;
  font-size: 6vw;
  color: #fff; }

/* スクロールアニメーションの定義 */
@keyframes scroll-text {
  0% {
    transform: translateX(0%); }
  100% {
    transform: translateX(-50%); } }
@media only screen and (max-width: 768px) {
  .click-more-detail span {
    font-size: 10vw; } }
@media only screen and (max-width: 768px) {
  .worksFadeBox.hovered .click-more-detail {
    animation: scroll-text 20s linear infinite;
    opacity: 1; } }
.worksFadeBox:hover .click-more-detail {
  opacity: 1;
  transform: translateY(0); }

/*scroll*/
.scroll {
  position: absolute;
  height: 71px;
  width: 2px;
  background-color: #333;
  left: 3.9%;
  bottom: 31px;
  writing-mode: vertical-rl;
  transition: all 1s cubic-bezier(0.9, 0, 0.1, 1);
  transition-delay: 2.3s;
  z-index: 2; }

.scroll:before {
  position: absolute;
  content: "scroll";
  font-size: 1.05rem;
  bottom: 118%;
  left: 78%;
  transform: translate(-55%, 0);
  opacity: 1;
  transition: all ease .5s;
  transition-delay: 2.8s; }

@media only screen and (max-width: 768px) {
  .scroll:before {
    font-size: .85rem; } }
.scroll:after {
  content: "";
  position: absolute;
  bottom: 118%;
  left: -12px;
  width: 4px;
  height: 50px;
  z-index: -1;
  background-color: #c8ea55;
  transform: scale(1, 0);
  transform-origin: left bottom;
  transition: -webkit-transform 0.4s cubic-bezier(0.08, 0.92, 0.35, 1);
  transition: transform 0.4s cubic-bezier(0.08, 0.92, 0.35, 1);
  transition: transform 0.4s cubic-bezier(0.08, 0.92, 0.35, 1), -webkit-transform 0.4s cubic-bezier(0.08, 0.92, 0.35, 1); }

@media only screen and (max-width: 768px) {
  .scroll:after {
    height: 40px; } }
.scroll:hover:after {
  transform-origin: left top;
  transform: scale(1, 1); }

.scroll span.line {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: inline-block; }

.scroll span.line:after {
  content: '';
  width: 4px;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: -100%;
  left: 0;
  -webkit-animation: arrow 1.4s ease 0s infinite normal;
  animation: scrolldown 2.4s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation-delay: 4.2s; }

@keyframes scrolldown {
  0% {
    top: -100%; }
  40% {
    top: 100%; }
  100% {
    top: 100%; } }
/*scrollここまで*/
/*footer*/
.footer {
  padding-right: calc(31px + 5.6%);
  position: relative; }

@media only screen and (max-width: 768px) {
  .footer {
    padding-right: calc(23px + 5%); } }
@media only screen and (max-width: 576px) {
  .footer {
    padding-right: 0; } }
.footerBox {
  margin: 0 0 0 auto;
  display: flex;
  flex-direction: column;
  padding: 10rem 5% 2.5rem 5%;
  background-image: url(/images/stone_bg_bk.webp);
  background-blend-mode: darken;
  background-color: #00000054; }

@media only screen and (max-width: 768px) {
  .footerBox {
    flex-direction: column;
    padding: 6rem 5% 1.5rem 5%; } }
.footerContentBox {
  display: flex;
  flex-direction: row; }

@media only screen and (max-width: 768px) {
  .footerContentBox {
    flex-direction: column-reverse; } }
.footerLogo {
  display: flex;
  justify-content: center;
  padding-top: 1.25rem;
  border-top: solid 1px #717171;
  margin-top: 10rem; }

@media only screen and (max-width: 768px) {
  .footerLogo {
    width: 100%;
    padding-top: 1.5rem;
    margin-top: 1rem; } }
.footerLogo a {
  width: 40%;
  transition: all ease .3s;
  opacity: .3; }

@media only screen and (max-width: 768px) {
  .footerLogo a {
    width: 80%; } }
.homeTop:hover {
  transition: all ease .5s;
  opacity: .9; }

.footecolumn {
  width: 100%;
  display: flex;
  flex-direction: column; }

@media only screen and (max-width: 768px) {
  .footecolumn {
    width: 100%;
    margin-bottom: 8vw; } }
.footecolumn-Mailform {
  font-size: 3rem;
  color: #717171;
  margin-bottom: .3vw; }

@media only screen and (max-width: 768px) {
  .footecolumn-Mailform {
    font-size: 2rem;
    margin-bottom: 1vw; } }
.footerNav {
  display: flex;
  width: 100%;
  align-items: flex-end; }

@media only screen and (max-width: 768px) {
  .footerNav {
    justify-content: flex-end; } }
.footerNav ul {
  display: flex;
  width: 80%;
  justify-content: space-between; }

@media only screen and (max-width: 768px) {
  .footerNav ul {
    font-size: .7rem;
    gap: 1rem;
    width: 100%; } }
.footerNav ul li a {
  color: #e2e2e2;
  transition: all ease .3s;
  opacity: .5; }

@media only screen and (max-width: 768px) {
  .footerNav ul li a {
    font-size: .75rem; } }
a.u-lineF {
  position: relative; }

a.u-lineF:hover {
  opacity: 1; }

.footecolumn-ContactLink {
  color: #717171;
  padding: 1vw 2.5vw;
  border: solid #717171 1px;
  font-size: clamp(.85rem, 1rem, 1.1rem);
  letter-spacing: .25vw;
  display: flex;
  width: 100%;
  transition: all ease .3s; }

@media only screen and (max-width: 768px) {
  .footecolumn-ContactLink {
    font-size: .75rem;
    padding: 2vw 3.5vw;
    letter-spacing: .15rem; } }
.footecolumn-ContactLink:hover {
  border: solid #333 1px;
  background-color: #ffffffc9;
  color: #333;
  transition: border 0.5s cubic-bezier(0.64, 0.01, 0.43, 0.96), background-color 0.5s cubic-bezier(0.64, 0.01, 0.43, 0.96), color 0.5s cubic-bezier(0.64, 0.01, 0.43, 0.96); }

.footecolumn-MesseBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

@media only screen and (max-width: 768px) {
  .footecolumn-MesseBox {
    flex-direction: column;
    align-items: flex-start; } }
.footecolumn-Message {
  font-size: .65rem;
  margin-top: .75rem;
  color: #717171; }

@media only screen and (max-width: 768px) {
  .footecolumn-Message {
    font-size: .6rem;
    margin-top: .5rem; } }
.footecolumn-Copyright {
  font-size: .7rem;
  margin-top: .75rem;
  color: #717171;
  display: flex;
  justify-content: flex-end; }

@media only screen and (max-width: 768px) {
  .footecolumn-Copyright {
    justify-content: center;
    font-size: .65rem;
    margin-top: 0; } }
/* footer scroll */
.footerScroll {
  position: absolute;
  writing-mode: vertical-rl;
  top: 0;
  right: 4.24vw; }

@media only screen and (max-width: 768px) {
  .footerScroll {
    bottom: 70%; } }
@media only screen and (max-width: 576px) {
  .footerScroll {
    display: none; } }
a.u-line {
  position: relative;
  transition: all ease .25s;
  color: #333; }

.scrollF {
  position: absolute;
  bottom: 0;
  right: 5%;
  height: 71px;
  width: 2px;
  background-color: #333;
  cursor: pointer;
  transition: all 1s cubic-bezier(0.9, 0, 0.1, 1);
  transition-delay: 2.3s; }

.scrollF:before {
  position: absolute;
  content: "back to top";
  font-size: 1.1em;
  letter-spacing: .05em;
  bottom: -105px;
  /* バーの下に配置 */
  right: -9px;
  transform: translate(0, 0);
  transition: all ease .5s;
  transition-delay: 2.8s;
  opacity: 1; }

@media only screen and (max-width: 768px) {
  .scrollF:before {
    font-size: .85em;
    bottom: -85px;
    right: -7px; } }
.scrollF:hover:after {
  transform-origin: left top;
  transform: scale(1, 1); }

.scrollF span.line {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.scrollF span.line:after {
  content: '';
  width: 4px;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: -100%;
  left: 0;
  animation: scrollup 2.4s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation-delay: 4.2s; }

@keyframes scrollup {
  0% {
    top: -100%; }
  40% {
    top: 100%; }
  100% {
    top: 100%; } }
.scrollF:after {
  content: "";
  position: absolute;
  bottom: -105px;
  left: -9px;
  width: 4px;
  height: 100px;
  z-index: -1;
  background-color: #c8ea55;
  transform: scale(1, 0);
  transform-origin: left bottom;
  transition: transform 0.4s cubic-bezier(0.08, 0.92, 0.35, 1); }

@media only screen and (max-width: 768px) {
  .scrollF:after {
    bottom: -85px; } }
/* ハンバーガー */
.menu-icon {
  width: 33px;
  height: 41px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  background-color: #000000d9;
  padding: 3vw 2.8%;
  display: flex;
  justify-content: space-around;
  box-sizing: initial; }

@media only screen and (max-width: 768px) {
  .menu-icon {
    width: 25px;
    height: 25px;
    padding: 3.5vw 2.5%; } }
.menu-icon .bar {
  display: block;
  width: 3px;
  height: 100%;
  background-color: #e2e2e2;
  transition: 0.3s; }

@media only screen and (max-width: 768px) {
  .menu-icon .bar {
    width: 2px; } }
/* ホバー時に2番目のバーを回転*/
.menu-icon:hover .bar:nth-child(2) {
  transform: rotate(-388.1deg);
  height: 43px; }

@media only screen and (max-width: 768px) {
  .menu-icon:hover .bar:nth-child(2) {
    transform: rotate(-393deg);
    height: 27px; } }
/* メニューが開いている時のスタイル */
.menu-icon.active .bar:nth-child(2) {
  opacity: 0;
  /* メニューが開いている時は非表示 */ }

.menu-icon.active .bar:nth-child(1) {
  transform: rotate(45deg) translate(10px, -4px); }

.menu-icon.active .bar:nth-child(2) {
  opacity: 0; }

.menu-icon.active .bar:nth-child(3) {
  transform: rotate(-45deg) translate(-12px, -6px); }

@media only screen and (max-width: 768px) {
  .menu-icon.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(6px, -4px); } }
@media only screen and (max-width: 768px) {
  .menu-icon.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(-8px, -6px); } }
/* ナビゲーション*/
.nav-menu {
  display: flex;
  position: fixed;
  top: 0;
  right: -100%;
  /* 初期状態は画面外に配置 */
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  justify-content: center;
  align-items: center;
  color: #adadad;
  font-size: 1.5rem;
  transition: right 0.5s ease; }

.nav-menu.active {
  right: 0;
  /* 画面内にスライドイン */ }

/* メニューアイテム*/
.nav-menu ul li {
  margin: 6.5vh 0; }

.nav-menu ul li a {
  color: #e2e2e2; }

.nav-menu ul li a:hover {
  transition: all ease .25s;
  opacity: .7; }

/* PC版 */
@media only screen and (max-width: 768px) {
  .nav-menu {
    width: 75%;
    /* 表示幅 */
    font-size: 1.05rem; } }
/* メニュー外をクリックした時メニューを閉じるためのスタイル */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 32%);
  z-index: 998; }

.overlay.active {
  display: block; }

.screenshot-container {
  width: 90%;
  height: 500px;
  overflow: auto;
  border: 2px solid #333;
  border-radius: 5px;
  position: relative; }

.screenshot-container img {
  width: 100%;
  /* スクリーンショットがコンテナの横幅に合わせて表示 */ }

.screenshot-container img {
  width: 100%;
  position: absolute;
  top: 0px; }

/* ローディング画面のスタイル */
#loader {
  font-size: 14px;
  letter-spacing: .05rem;
  color: #e9e9e9;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #151515;
  z-index: 9999; }

/* タイトルアニメーション */
.title {
  display: flex;
  overflow: hidden;
  color: #e9e9e9; }

.title span {
  display: block;
  transform: translate(0, 105%);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s; }

.title.-visible span {
  transform: translate(0, 0);
  opacity: 1; }

.title.-fade span {
  opacity: 0;
  transition: opacity 0.5s ease; }

.title.final-state span {
  transform: translate(0, 0);
  /* 出現した文字がそのままの状態で停止 */ }

.title span:nth-child(2) {
  transition-delay: 0.06s; }

.title span:nth-child(3) {
  transition-delay: 0.12s; }

.title span:nth-child(4) {
  transition-delay: 0.18s; }

.title span:nth-child(5) {
  transition-delay: 0.24s; }

.title span:nth-child(6) {
  transition-delay: 0.30s; }

.title span:nth-child(7) {
  transition-delay: 0.36s; }

.title span:nth-child(8) {
  transition-delay: 0.42s; }

.title span:nth-child(9) {
  transition-delay: 0.48s; }

.title span:nth-child(10) {
  transition-delay: 0.54s; }

.title span:nth-child(11) {
  transition-delay: 0.6s; }

.title span:nth-child(12) {
  transition-delay: 0.66s; }

#content {
  position: relative;
  z-index: 1;
  background-color: #fff;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease;
  display: none; }

/* 黒backgroundのスタイル */
#loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #151515;
  z-index: 9998; }

/* 黒backgroundが上へ移動するアニメーション */
@keyframes slideUp {
  0% {
    top: 0; }
  100% {
    top: -100vh; } }
/* ローディング文字のアニメーション */
.letter {
  opacity: 0;
  animation: fadeIn 0.5s ease forwards; }

.space {
  width: 10px; }

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
